---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

  
$font-weight-normal: 400;
$font-weight-bold:   600;

$base-font-family: "Arial";
$base-font-size:   12pt;
$base-line-height: 1.5;

$heading-font-family: $base-font-family;
$heading-font-size:   14pt;
$heading-line-height: 1.5;

$small-font-size:  0.875em;
$vsmall-font-size: 0.5em;
$spacing-unit:     1.5em;

$grey-vlight:#fefefe;
$grey-light: #ccc;
$grey:       #666;
$grey-dark:  #444;
$grey-vdark: #111;
$blue:       #3047c9;
$orange:     #ca6c18;
$red:        #b6321c;
$harvard:   #A41034;
$white:		#FFFFFF;
$black:     #000;
$harvardblue: #ddf3f5;
$hlyellow: #ffffe6;

$background:        $white;
$dark-background:   darken($background, 5%);
$text-color:        $black;
$text-light-color:  $grey;
$url-color:         $black;
$url-hover-color:   $blue;
$line-color:        $grey-light;
$menubackground:    $black;
$submenubackground: lighten($black,15%);
$menulink: $white;
$submenulink: $white;
$hlcolor: lighten(#4181BD,45%);	
$cardcolor: $black; 
$cardname: $white;
$carddate: $grey-light;
$topicbtn: #d9d9d9;
$topicbtntxt: $black;
$topicbtnhvr: $harvardblue;
$pubimgwidth: 200px;

// Width of the content area
$content-width:    1200px;
$content-min-width:320px;
$mobile:           414px;
$desktop:          1200px;
$ipad:             1024px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image",
    "cards",
    "jmenu",
    "misc",
    "pubs",
    "buttons",
    "news"
;

.hClass{
    height: 90px;
    width: 200px;
    
    overflow: hidden;
}

.hClass p{
    padding-left: 20px;
}

.iClass{
    font-style: oblinque;
    color: rgb(136, 136, 136);
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    margin-left: -20px;
}

.mClass{
    white-space: normal;
}

