---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$font-weight-normal: 400;
$font-weight-bold:   600;
$url-bold: 500;
$base-font-family: "Roboto", Arial, "Liberation Sans", DejaVu Sans, sans-serif;
$base-font-size:   13pt;
$base-line-height: 1.5;

$heading-font-family: $base-font-family;
$heading-font-size:   12pt;
$heading-line-height: 1.0;

$small-font-size:  10pt;
$vsmall-font-size: 8pt;
$spacing-unit:     1.5em;

$grey-vlight:#fefefe;
$grey-light: #ccc;
$grey:       #666;
$grey-dark:  #444;
$grey-vdark: #111;
$blue:       #3047c9;
$orange:     #ca6c18;
$red:        #b6321c;
$harvard:   #A41034;
$white:		#FFFFFF;
$black:     #000;
$harvardblue: #f2f2df;
$hlyellow: #ffffe6;
$tsunami: #e5f6ed;
$menu-font-size:15pt;

$background:        $white;
$dark-background:   darken($background, 5%);
$text-color:        $black;
$text-light-color:  $grey;
$url-color:         #3422aa;
$url-hover-color:   crimson;
$newsheadingcolor:   #0a2aac;;
$line-color:        $grey-light;
$menubackground:    $white;
$watchbtncolor:    #386cc7;
$newsbtncolor:    #0b48b1;
$submenubackground: $white;//darken($tsunami, 22%);//lighten($black,15%);
$menulink: $newsheadingcolor;
$submenulink: $newsheadingcolor;
$hlcolor: #7a8080;
$textcolor2: lighten(#4181BD,0%);
$cardcolor: $white;
$cardname: $white;
$carddate: $grey-light;
$topicbtn: $white;
$topicbtntxt: $black;
$topicbtnhvr: $harvardblue;
$pubimgwidth: 250px;

// Width of the content area
$content-width:    1000px;
$content-width-all: 1000px;
$content-min-width:320px;
$mobile:           414px;
$desktop:          1200px;
$ipad:             1024px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image",
    "cards",
    "jmenu",
    "misc",
    "pubs",
    "buttons",
    "news"
;

.hClass{
    height: 90px;
    width: 200px;

    overflow: hidden;
}

.hClass p{
    padding-left: 20px;
}

.iClass{
    font-style: oblinque;
    color: rgb(136, 136, 136);
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    margin-left: -20px;
}

.mClass{
    white-space: normal;
}
