---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-weight-normal: 400;
$font-weight-bold:   480;

$base-font-family: "Helvetica Neue";
$base-font-size:   13pt;
$base-line-height: 1.5;

$heading-font-family: $base-font-family;
$heading-font-size:   14pt;
$heading-line-height: 1.5;

$small-font-size:  0.875em;
$vsmall-font-size: 0.5em;
$spacing-unit:     1.5em;

$grey-vlight:#fefefe;
$grey-light: #ccc;
$grey:       #666;
$grey-dark:  #444;
$grey-vdark: #111;
$blue:       #3047c9;
$orange:     #ca6c18;
$red:        #b6321c;
$harvard:   #A41034;
$white:		#FFFFFF;
$black:     #000;
$harvardblue: #afe6f1;

$background:        $white;
$dark-background:   darken($background, 5%);
$text-color:        $black;
$text-light-color:  $grey;
$url-color:         #0d667f;
$url-hover-color:   #0d667f;
$header-text-color: #0d667f;
$header-hover-color:#0d667f;
$header-hover-url:  $harvard;
$line-color:        $grey-light;

// Width of the content area
$content-width:    60em;
$content-min-width:15em;
$mobile:           35em;
$desktop:          45em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;

.hClass{
    height: 90px;
    width: 200px;
    
    overflow: hidden;
}

.hClass p{
    padding-left: 20px;
}

.iClass{
    font-style: oblinque;
    color: rgb(136, 136, 136);
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    margin-left: -20px;
}

.mClass{
    white-space: normal;
}

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
//   display: grid;
//   grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
//   grid-auto-flow: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.section {
//   border: 0px solid;
//   margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: space-around;
}


@media (max-width: $mobile) { /*breakpoint*/
  .container {
    grid-template-columns: none;
  }
  .section {
    align-items: center;
  	justify-content: center;
  }
}


// 
// 
// 
   .lefty {
        float: left;
        width: 75%;
        text-align: left;
        vertical-align: top;
        padding-right: 15px;
        padding-bottom:0px;
        padding-top:0px;
        padding-left:15px;
        border: 0px solid lighten($harvard, 0.5%);
        
    }
    .righty {
        float: top;
        display: inline-block;
        width: 20%;
        padding-left: 0px;
        padding-top: 0px;
        vertical-align: center;
        text-align: left;   
//         -webkit-box-shadow: 0px -1px 10px 3px rgba(191,187,191,1);
// -moz-box-shadow: 0px -1px 10px 3px rgba(191,187,191,1);
// box-shadow: 0px -1px 10px 3px rgba(191,187,191,1);
     
    }
    .fully {
        float: left;
        width: 100%;
        text-align: left;
        vertical-align: middle;
        padding-bottom: 0px;
        border-bottom: 0.0px solid lighten($black, 0.5%);
    }
    .fully2 {
        float: left;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 0px;
        padding-top:5px;
        padding-left:5px;
        padding-right:20px;
        border-bottom: 0.0px solid lighten($black, 0.5%);
    }
//     img {
//         max-width: 100%;
//         height: auto;
//     }
    .group:after {
        content:"";
        display: table;
        clear: both;
    }
    
    .group {
//         border: 0.1px solid lighten($black, 0.5%);
//         border-bottom: 0.01px solid lighten($black, 0.5%);
//         border-top: 0.05px solid lighten($black, 0.5%);
        padding-bottom:20px;
// -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
border-radius: 0.0em;
  border-bottom: 0.01px solid #c9c9c7;
  margin:10px;
}

    .grouphl:after {
        content:"";
        display: table;
        clear: both;
    }
    
    .grouphl {
//         border: 0.1px solid lighten($black, 0.5%);
//         border-bottom: 0.01px solid lighten($black, 0.5%);
//         border-top: 0.05px solid lighten($black, 0.5%);
        padding-bottom:20px;
// -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
border-radius: 0em;
  background-color: #fbf5dc;
  border: 0.01em solid lighten($black, 0.5%);
  margin:10px;
}

    .group1:after {
        content:"";
        display: table;
        clear: both;
    }
    
    .group1 {
//         border: 0.1px solid lighten($black, 0.5%);
//         border-bottom: 0.01px solid lighten($black, 0.5%);
//         border-top: 0.05px solid lighten($black, 0.5%);
        padding-bottom:20px;
// -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
// box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.37);
border-radius: 0.0em;
}

.group1:nth-last-child(1) {
  background: red;
}


    
    @media screen and (max-width: 670px) {
        .lefty, .righty {
            float: none;
            width: auto;
        }
        .righty{
        display:none;}
    }


/* Float four columns side by side */
.columnimg {
  float: left;
  width: 30%;
  padding: 0 0px;
}

.columntxt {
  float: left;
  width: 60%;
  padding: 0 0px;
}
/* Remove extra left and right margins, due to padding */
.row111 {margin: 0 0px; display:flex;flex-direction: row; 
align-items: safe center; 

 }

/* Clear floats after the columns */
.row111:after {
  content: "";
  display: table;
  clear: both;
}

.columnimg1 {
  float: left;
  width: 45%;
  padding: 0 0px;
}

.columntxt1 {
  float: left;
  width: 70%;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.row112 {margin: 0 0px; display:flex;flex-direction: row; 
align-items: flex-end; 
 }

/* Clear floats after the columns */
.row112:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .columnimg, .columntxt, .columnimg1, .columntxt1 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .row111, .row112 {  flex-direction: column;
}
}

/* Style the counter cards */
.cardimg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin:10px;
  border-radius: 1em;
}

/* Style the counter cards */
.cardimg1 {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px;
  text-align: center;
//   padding-right:30px;
  border-radius: 0em;
}

.cardtxt {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: lighten(#0d667f,70%);
  margin:10px;
  border-radius: 1em;
}

.cardtxt2 {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: left;
//   background-color: lighten(#0d667f,70%);
  margin:0px;
  border-radius: 0em;
  font-weight: 600;
  font-size: 1.5rem;
}

.cardtxthl {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
  background-color: #fbf5dc;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
  border-radius: 0em;
  border: 0.01px solid lighten($black, 0.5%);
  font-size: 85%;	
}

.cardtxtnohl {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
  background-color: lighten(#0d667f,100%);
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
  border-radius: 0em;
  border: 0.01px solid lighten($black, 0.5%);
  font-size: 85%;
}

.cardtxthl2 {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: lighten(#0d667f,65%);
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 0em;
  border: 0.0px solid lighten($black, 0.5%);
  font-size: 115%;	
  font-weight:600;
}
