_site
.sass-cache
.jekyll-cache
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/*.aux
**/*.gz
**/*.bbl
**/*.blg
**/*.log
**/*.xml
files/CV/CurriculumVitae.log
files/CV/CurriculumVitae.synctex.gz
files/CV/CurriculumVitae.log
files/CV/CurriculumVitae.synctex.gz
files/CV/CurriculumVitae.log
files/CV/CurriculumVitae.blg
files/CV/CurriculumVitae.bbl
files/CV/CurriculumVitae.aux

.codegpt