_site
.sass-cache
.jekyll-cache
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/*.aux
**/*.gz
**/*.bbl
**/*.blg
**/*.log
**/*.xml
**/files/CV/*.log
files/CV/*.synctex.gz
files/CV/*.log
files/CV/*.synctex.gz
files/CV/*.log
files/CV/*.blg
files/CV/*.bbl
files/CV/*.aux
*.lock
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
files/CV/*.aux
.jekyll-cache
.codegpt
.jekyll-cache/*
