_site
.sass-cache
.jekyll-cache
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/*.aux
**/*.gz
**/*.bbl
**/*.blg
**/*.log
**/*.xml
*.lock
.jekyll-cache
.codegpt
.jekyll-cache/*
pages/cv/cv-blx.bib
pages/cv/cv.bcf
pages/cv/cv.out
pages/cv/build/cv.bcf
pages/cv/build/cv.fdb_latexmk
pages/cv/build/cv.fls
pages/cv/build/cv.out
pages/cv/build/cv.pdf
pages/cv/build/cv.xdv
pages/cv/old/CurriculumVitae-blx.bib
pages/cv/old/CurriculumVitae.out
pages/cv/old/CurriculumVitae.pdf
