<nav class="jmenu">
  <label for="menu-btn" class="jm-menu-btn jm-icon-menu"></label>
  <input type="checkbox" id="menu-btn" class="jm-menu-btn">
  <ul class="jm-collapse">
  <li class="jm-dropdown"><a href="/">Home</a></li>
{% for menu_item in site.data.menu %}
 	{% if menu_item.subcategories != null %}
 	   <li class="jm-dropdown">
	   <a href="{{ menu_item.href | prepend: site.baseurl }}">{{ menu_item.title }}  <i class="fa fa-caret-down"></i></a>
	   <ul>
				{% for subcategory in menu_item.subcategories %}
					<li><a href="{{ subcategory.subhref | prepend: site.baseurl }}"><i class="fa fa-caret-right"></i> {{ subcategory.subtitle }}</a></li>
				{% endfor %}
	   </ul>
	   </li>
	{% else %}
 		 <li class="jm-dropdown"><a href="{{ menu_item.href }}">{{ menu_item.title }}︎</a></li>
	{% endif %}
{% endfor %} 
</nav>
