//  Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0px 0px;
    scroll-behavior: smooth;
}

p {
    margin: 10px 10px;
//     padding: 10px 10px;
    text-align: left;

}

video {
  width: 100% !important;
  height: auto !important;
}

h1 {
	text-decoration: none;
	padding: 5px;
	margin: 0;
	background-color: lighten(#0d667f,65%);
	border: 0.0px solid lighten(#0d667f, 15.5%);
	border-radius: 1em;
	color:       #000;
	font-size:   $base-font-size;
	text-transform: uppercase;
	width:25%;
}


h2 {
text-decoration: none;
padding: 5px;
margin: 10px;
color: black;
border: 0.0px solid lighten(#0d667f, 15.5%);
border-radius: .5em;
font-size:   125%;
}

h3 {
text-decoration: none;
padding-left: 20px;
margin: 0px;
color: $textcolor2;
border: 0.0px solid lighten(#0d667f, 15.5%);
border-radius: .5em;
font-size:   115%;
}

h4 {
text-decoration: none;
padding: 15px;
margin: 20px;
color: black;
border: 0.0px solid lighten(#0d667f, 15.5%);
border-radius: .5em;
font-size:   100%;
}

h5 {
text-decoration: none;
padding: 15px;
margin: 20px;
    color: black;
    border: 0.0px solid lighten(#0d667f, 15.5%);
    border-radius: .5em;
    font-size:   93%;
}



html {
    overflow-y: scroll;
}

// Basic styling
body {
    font-family: $base-font-family;
    font-weight: $font-weight-normal;
    font-size:   $base-font-size;
    line-height: $base-line-height;
    color:       $text-color;
    background-color: $background;
   -webkit-text-size-adjust: 100%;
    text-align: justified
}

// bold elements
strong {
    font-weight: $font-weight-bold;
}

//  Headings
h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $font-weight-bold;
//     font-size:   $heading-font-size;
    line-height: 1.5;
//     color:       $harvard;
//     text-transform: uppercase;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: -1; //$spacing-unit/2;
}

hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-top: 1px solid $line-color;
    border-bottom: none;
}

// Images
img {
    max-width: 100%;
    margin: auto auto;
vertical-align: middle;
}

// Figures
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

//  Lists
ul, ol {
    margin-left: $spacing-unit;
    list-style: square outside none;
}

ul ul {
        list-style-type:  none;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
         margin-top:    0;
    }
}

// Links
a {
    color: $url-color;
    font-style: normal;
    text-decoration: none;
    font-weight: $url-bold;
    
    &:hover {
        color: $url-hover-color;
        text-decoration: none;
        font-weight: none;
    }
}



// Blockquotes
blockquote {
    background-color: lighten($harvardblue,55%);
//     margin-left: 0.0*$content-width;
//     margin-right: 0.0*$content-width;
//     border: 0.0px solid lighten(#0d667f, 15.5%);
// //     border-left: 0.1px solid lighten($harvard, 0.5%);
// //     border-top: 0.1px solid lighten(#0d667f, 15.5%);
// //     border-right: 0.0px solid lighten($harvard, 79.5%);
// //     border-bottom: 0.0px solid lighten($harvard, 0.5%);
//     border-radius: 1em;
// //     border-width: 0.1px;
// //     border-left-width: 0.1em;
// //     border-right-width: 0.1em;
// //     border-bottom-width: 1px solid lighten($harvard, 09.5%);;
// //     border-top-width: 0.1em;
    padding-left:   1.0em;
    padding-right:  1.0em;
    padding-top:    0.1em;
    padding-bottom: 0.4em;
//     text-align: justify;
//     margin-top:2px;
//     margin-bottom:2px;
// -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
// -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
// box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);//     font-style: italic;

}

// Code formatting
pre, code {
    border: 0px solid $line-color;
    border-radius: 3px;
    background-color: lighten($harvard, 59.5%);
    font-family: monospace;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// Icons
.icon {
    > svg {
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        vertical-align: middle;
        path {
            fill: $text-color;
        }
    }
}

.footnotes ol li {
    list-style-type:decimal;
}
.footnotes ol {
    font-size: $vsmall-font-size;
    color: $text-light-color;
}

ul.listing {
    list-style-type: none;
    margin-left: 0;
}

ul.listing li.listing-seperator {
    padding-top: 0.75em;
    font-size: 1.17em;
}

ul.listing li.listing-item time {
    color: $text-light-color;
    text-transform: uppercase;
    padding-right: 0.5em;
}

ul.listing li.listing-item a {
    color: $url-color;
}

.top-link {
	transition: all .25s ease-in-out;
	position: fixed;
	top: 10px;
	right: -40px;
	display: inline-flex;

	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3.5em 3.5em 0;
	border-radius: 50%;
	padding: .25em;
	width: 29px;
	height: 29px;
	background-color: $black;
	color: $white;  
	
	&.show {
	visibility: visible;
	opacity: 1;
	}

	&.hide {
	visibility: hidden;
	opacity: 0;
	}

	&:hover {
   			color: $white;
   			text-decoration: none;  


	}
}