.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center ;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-bottom: 10px;
  border: 0px solid $black;
}

.cards_item {
  display: flex;
  flex: 20%; 
  padding: 5px;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  border: 0.0px solid lighten($black, 0.5%);
//   background-color: $cardcolor;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: $mobile) {
  .cards {
    flex-direction: column;
  justify-content: center;
  align-items: center;
    align-content: center;
  }
  .cards_item {
  justify-content: center;
  align-items: center;
  align-content: center;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: $ipad) {
  .cards_item {
flex: 30%; 
  }
}

.card {
  background-color: $cardcolor;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin:0px;
}

.card_content {
  padding: 0.5rem;
  background: $cardcolor;
}

.card_title {
  color: $cardname;
  font-size: 80%;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-align:center;
  text-transform: capitalize;
  margin: 0px;
  vertical-align: top;
}

.card_text {
  color: $black;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 500;
  text-align:center;
  margin: 0px;
  vertical-align: top;
  font-style: italic;
}
.card_text2 {
  color: $black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 500;
  font-size:75%;
  text-align:center;
  margin: 0px;
  vertical-align: top;
}
.card_text3 {
  color: $carddate;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  font-size:75%;
  text-align:center;
  margin: 0px;
  vertical-align: top;
}


