.captioned-img {
    text-align: center;
    border: none;
    font-size: $small-font-size;
    overflow: hidden;
}

.captioned-img img {
    display: block;
    margin: auto auto;
    padding-bottom: 10px;
    border: none;
}

.captioned-img-round {
    text-align: center;
    border: none;
    font-size: $small-font-size;
    overflow: hidden;
border-radius: 50%;
}

.captioned-img-round img {
    display: block;
    margin: auto auto;
    padding-bottom: 10px;
    border: none;
border-radius: 50%;
}

.captions {
text-align:center; 
font-size:$small-font-size;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid $grey-light;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
//     margin-top: -3em;
    margin-right: 1em;
    margin-left: 10px;
//     margin-bottom: 3em;
}
.alignright {
    float: right;
//     margin-top: 0;
    margin-left: 1em;
    margin-right: 10px;
//     margin-bottom: 0.75em;
}
@include media-query($mobile) {
    .alignleft, .alignright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
