.columntxtauthors {
  float: left;
  width: 100%;
  padding: 0px;
  font-size: 85%;
}

div.pagewidth 
{ 
max-width: 1000px; 
margin: auto; 
}

.videoWrapper {
display: flex;
align-items: center;
  justify-content: center ;
  align-content: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accordion {
font-weight: $font-weight-bold; 
border-radius: 0.7em; 
padding: 6px 10px; 
color: darken($tsunami,22%); 
background-color:$hlcolor; 
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13pt;
  transition: 0.1s;
  margin-top:5px;
}

.active, .accordion:hover {
  color: $white;
  background-color: $tsunami;
  border: 0px solid $tsunami;
}

.accordion:after {
  content: '\002B';
  color: darken($tsunami,22%); ;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: scroll;
}
