

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding:2px;
}

.article {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: top; 
  background-color: $white; //lighten($grey-light,16%);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
object-fit: cover;
 }

.article:nth-child(1) {
  background-color: darken($hlcolor,0%);
  grid-column: 1 / -2;
  border:0.0px solid black;
}

.article:nth-child(2) {
background-color: darken($tsunami,22%);
align-self: top; 
border-top:0.0px solid black;
  margin-top:5px;
// background: rgb(32,79,222);
// background: linear-gradient(180deg, rgba(32,79,222,1) 0%, rgba(0,255,250,0.469625350140056) 37%);
}

@media (max-width: $mobile) {
  .archive {
    display: flex;
    flex-direction: column;
  }
  .article {
    margin-bottom: 5px;
  }
  
}

.buttons {
  display: flex;            /* new */
  align-items: flex-start;      /* new */
  justify-content: flex-end; /* new */
  padding: 20px;
}

.newsheading{
text-decoration: none;
margin-top: 0px;
font-size:   100%;
text-align: right;
margin: 30px;
padding-left: 0px;
padding-top: 0px;
}

.newsheading a {
color: lighten($tsunami,100%);
font-weight: bold;
font-size:  20pt;
line-height: 1.3;
}

.newsheading a:hover{
text-decoration:underline;
}

.newsimage{
text-decoration: none;
margin: 10px;
text-align: center;
// margin-bottom: 30px;
object-fit: cover;
// background-color: $hlcolor;
padding: 10px;
}

.mainnewstxt{
text-decoration: none;
// margin-top: 0px;
color: $white;
font-size:   100%;
text-align: left;
font-weight: 400;
// margin-bottom: 10px;
margin: 20px;
// height:210px;
// background-color: $hlcolor;
}


.smallnewsheading{
text-decoration: none;
padding: 25px;
color: darken($tsunami,22%);
font-size:   15pt;
line-height: 1.2;
text-align: left;
font-weight: 800;
height:30px;
}

.smallnewstxt{
text-decoration: none;
// margin-top: 0px;
color: $black;
font-size:   100%;
text-align: left;
font-weight: 400;
// margin-bottom: 10px;
padding: 20px;
height:150px;
// background-color: $hlcolor;
}
