.row112 
{
margin: 0 0px; 
display:flex;
flex-direction: row; 
align-items: top;
justify-content: center ; 
 }

/* Clear floats after the columns */
.row112:after 
{
  content: "";
  display: table;
  clear: both;
}


.columnimg1 {
  float: center;
  width: 70%;
  padding-top: 15px;
  vertical-align: center;
}

.cardnews {
  background-color: $white;
  border-radius: 0.0rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin:0px;
}

.cards_itemnews {
  display: flex;
  flex: 20%; 
  padding: 5px;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  border: 0.0px solid lighten($black, 0.5%);
//   background-color: $cardcolor;
}

.card_titlenews {
  color: $black;
  font-size: 80%;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 1.25rem;  
  text-align:center;
  text-transform: capitalize;
  margin: 10px;
  vertical-align: top;
}


/* Style the counter cards */
.cardimg1 {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-left: 1px;
  padding-top: 10px;
  text-align: center;
//   padding-right:30px;
  border-radius: 0em;
}

.columntxt1 {
  float: right;
  width: 60%;
  padding-left: 10px;
  padding-top: 0px;
  border-left: solid 0px $black;
  background-color: $white;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardtxthl3{
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
//   background-color: lighten(#0d667f,65%);
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 0em;
  border: 0.0px solid lighten($black, 0.5%);
  font-size: 115%;	
  font-weight:600;
}

.cardtxthl {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
  background-color: $hlcolor;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
  border-radius: 0em;
  border: 0.0px solid lighten($black, 0.5%);
  border-bottom: 0.0px solid lighten($black, 0.5%);
  font-size: 95%;	
}

.cardtxtnohl {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
  background-color: $hlcolor;
  margin-left:20px;
  margin-right:0px;
  margin-bottom:0px;
  border-radius: 0em;
  border: 0.0px solid lighten($black, 0.5%);
  border-bottom: 0.0px solid lighten($black, 0.5%);
  font-size: 90%;
}

div.columntxt1>div:nth-of-type(even) {
  background: #fff;
}

/* Responsive columns */
@media screen and (max-width: $mobile) {
  .columnimg1, .columntxt1 {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0px;
  }
  
  .row112 {  flex-direction: column;
}
}

