   .lefty {
        float: left;
        width: 75%;
        text-align: left;
        vertical-align: top;
        padding-right: 15px;
        padding-bottom:5px;
        padding-top:0px;
        padding-left:5px;
        border: 0px solid lighten($harvard, 0.5%);
        font-size: 95%;
//         background-color: $hlcolor;
        
    }
   .lefty2 {
        float: left;
        width: 70%;
        text-align: left;
        vertical-align: top;
        padding-right: 15px;
        padding-bottom:0px;
        padding-top:0px;
        padding-left:25px;
        border: 0px solid lighten($harvard, 0.5%);
        font-size: 95%;
        
    }
    .righty {
        float: top;
        display: inline-block;
        width: 20%;
        padding-left: 15px;
        padding-top: 0px;
        vertical-align: center;
        text-align: left;  
           
    }
    .fully {
        float: left;
        width: 100%;
        text-align: left;
        vertical-align: middle;
        padding-bottom: 0px;
        border-bottom: 0.0px solid lighten($black, 0.5%);
    }
    .fully2 {
        float: left;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 0px;
        padding-top:5px;
        padding-left:5px;
        padding-right:20px;
        border-bottom: 0.0px solid lighten($black, 0.5%);
    }

    .group:after {
        content:"";
        display: table;
        clear: both;
    }
    
    .group {
        padding-bottom:20px;
		border-radius: 0.0em;
  		border-bottom: 0.01px solid $line-color;
  		margin:10px;
}

.topicshl {
		//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 8px;
		text-align: center;
		margin-bottom:10px;
		margin-top:10px;
		border-radius: 0.1em;
		font-size: 125%;	
		font-weight:600;
		color: $harvard;
}

.responsivepubimg {
width: 100%; 
object-fit: contain; 
max-width: $pubimgwidth;
max-height: 150px;
float: left;
}

@media screen and (max-width: $mobile) {
	.lefty, .righty {
		float: none;
		width: auto;
	}
	.righty{
	display:none;}
}

.container {
	display: flex;
	flex-wrap: wrap ;
	justify-content: center;
	align-items: center;
	align-content: center ;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: space-around;
}

.anchor {
    display:block;
    padding-top:100px;
    margin-top:-100px;
 }
 
@media (max-width: $mobile) { /*breakpoint*/
  .container {
    grid-template-columns: none;
  justify-content: center;
  align-items: center;
    align-content: center;
  }
  .section {
  justify-content: center;
  align-items: center;
    align-content: center;
  }
}


.dropbtn {
  background-color: $black;
  color: white;
  padding: 16px;
  font-size: 125%;
  border: none;
  cursor: pointer;
  float: center;
  margin:0 auto;
  display:block;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  font-size: 85%;
  position: absolute;
  background-color: $white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
}

.dropdown-content a {
  padding: 12px 10px;
  display: block;
}

.dropdown-content a:hover {background-color: $white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}