div.pagewidthpub 
{ 
	max-width: 900px; 
	margin: auto; 
}

.topicshl {
	//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 8px;
	text-align: center;
	margin-bottom:10px;
	margin-top:10px;
	border-radius: 0.1em;
	font-size: 125%;		
	font-weight:600;
	color: $harvard;
}

.responsivepubimg {
	width: 180px; 
	object-fit: contain; 
	max-height: 180px;
	align:center;
	vertical-align: middle;
}

.responsivepubimg1 {
	width: 180px; 
	object-fit: contain; 
	max-height: 180px;
	// max-height: 120px;
	align:center;
	vertical-align: middle;
  padding: 0px 0px;
	// box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.dropbtn {
  background-color: $black;
  color: white;
  padding: 8px;
  font-size: 125%;
  border: none;
  cursor: pointer;
  float: center;
  margin:0 auto;
  display:block;
}

.dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dropdown-content {
  display: none;
  font-size: 85%;
  position: absolute;
  background-color: $white;
  min-width: 200px;
  margin-top:40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
}

.dropdown-content a {
  padding: 12px 10px;
  display: block;
}

.dropdown-content a:hover {background-color: $white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $black;
}

.pubs {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 0px;
  padding:2px;
  margin-top:10px;
}

.articles {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: top; 
  background-color: $white; //lighten($grey-light,16%);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-even;
  align-items: space-even;
  -webkit-box-shadow: 0px 7px 5px -4px rgba(189,189,189,0.74);
-moz-box-shadow: 0px 7px 5px -4px rgba(189,189,189,0.74);
box-shadow: 0px 7px 5px -4px rgba(189,189,189,0.74);
 }

.articles:nth-child(even) {
  background-color: $white;
  align-items: stretch;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles:nth-child(odd) {
// border-right: 1px solid darken($tsunami,10%);
background-color: $white;
-webkit-box-shadow: 0px 0px 0px 0px rgba(189,189,189,0.74);
-moz-box-shadow: 0px 0px 0px 0px rgba(189,189,189,0.74);
box-shadow: 0px 0px 0px 0px rgba(189,189,189,0.74);
}

.articles a {
  font-weight: normal; //lighten($grey-light,16%);
  white-space: nowrap;
 }

.articles  a:hover {
  text-color: $url-hover-color; //lighten($grey-light,16%);
 }

.pubbuttons {
  display: flex;            /* new */
  align-items: flex-start;      /* new */
  justify-content: flex-start; /* new */
  padding-top: 5px;
  padding-bottom: 5px;
}

.pubyear {
width:auto;
// text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
font-weight: 400;
color: $url-color;
}

@media (max-width: $mobile) {
  .pubs {
display: grid;
  grid-template-columns: 0px 1fr;
      grid-row-gap: 0px;
  }
  .articles {
    margin-bottom: 0px;
  }
  .articles:nth-child(odd) {
  visibility: hidden;
}
  
}